.project__footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.project__footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 4rem 6rem;
}

.project__footer-container_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.project__footer-container_content-header h2 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 500;
    line-height: 62px;
    color: #fff;
    opacity: 0.95;
}

.project__footer-container_content-items {
    list-style: none;
}

.project__footer-container_content-items li {
    font-family: var(--font-family);
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.project__footer-container_content-items li:hover  {
    text-decoration: underline;
    opacity: 1;
}

/* Footer End */
.project__footer-end {
    display: flex;
    width: 100%;
    padding: 0 1rem;
}

.project__footer-end_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.project__footer-end_container-copyright p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}

.project__footer-end_container-author p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}

@media screen and (max-width: 1050px) {
    .project__footer-container {
        padding: 4rem 2rem;
    }
}