.sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 250px;
    width: 300px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: var(--font-family);
}


.sidebar-item {
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
    width: 100%;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

.sidebar-title {
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
}

.sidebar-title span i {
    display: inline-block;
    width: 1.5em;
}

.sidebar-title .toggle-btn {
    cursor: pointer;
    transition: transform .3s;
}

.sidebar-item.open>.sidebar-title .toggle-btn {
    transform: rotate(180deg);
}

.sidebar-content {
    padding-top: .25em;
    height: 0;
    overflow: hidden;
    justify-content: flex-end;
}

.sidebar-item.open>.sidebar-content {
    height: auto;
}

.sidebar-item.plain {
    color: #fff;
    text-decoration: none;
}

.sidebar-item.plain:hover {
    text-decoration: underline;
}

.sidebar-item.plain i {
    display: inline-block;
    width: 1.7em;
}