.project__contact {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 6rem;
    margin: 0;
}

/* Contact Header/Title */
.project__contact-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.project__contact-header h1 {
    font-family: var(--font-family);
    font-size: 3rem;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 2rem;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0);
    background: linear-gradient(to right, #b92b27, #1565c0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Contact Email & Phone Number */
.project__contact-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}

.project__contact-container_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.project__contact-container_info-inputbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project__contact-container_info-inputbox label:first-of-type {
    font-family: var(--font-family);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 42px;
    color: #fff;
    opacity: 0.95;
    margin-bottom: 0.5rem;
}

.project__contact-container_info-inputbox textarea {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    color: #000;
    opacity: 0.9;
    max-width: 80%;
    width: 80%;
    height: 75px;
    padding: 0.2rem 0.5rem;
}

.project__contact-container_info-inputbox textarea:focus {
    height: 100px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px black;
}

/* Type email & submit v1 */
/* .project__contact-container_info-inputbox-email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.project__contact-container_info-inputbox-email label {
    font-family: var(--font-family);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    opacity: 0.95;
    margin-right: 0.5rem;
}

.project__contact-container_info-inputbox-email input:first-of-type {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    color: #000;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 270px;
    padding: 5px;
}

.project__contact-container_info-inputbox-email input:last-of-type {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--color-button);
} */

/* Submit button v2 */

.project__contact-container_info-inputbox-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 0.5rem;
}

.project__contact-container_info-inputbox-submit input {
    font-family: var(--font-family);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--color-button);
    width: 100%;
}

/* Contact Phone */
.project__contact-container_info-phone {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2rem;
    align-items: center;
}

.project__contact-container_info-phone p:first-child {
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 25px;
    color: #fff;
    margin-bottom: 0.5rem;
}

.project__contact-container_info-phone p:last-child {
    font-family: var(--font-family);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 25px;
    color: #fff;
}

/* Contact Icons */
.project__contact-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project__contact-content_icons {
    display: flex;
    gap: 35px;
}

@media screen and (max-width: 1050px) {
    .project__contact {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .project__contact-container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .project__contact-container_info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .project__contact-container_info-inputbox {
        justify-content: center;
        align-items: center;
    }

    .project__contact-container_info-phone {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .project__contact-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 2rem;
    }

    .project__contact-content_icons {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .project__contact {
        padding: 2rem 1rem;
    }

    .project__contact-header h1 {
        font-size: 2rem;
        text-align: center;
    }

    .project__contact-container_info-inputbox label:first-of-type {
        font-size: 1.3rem;
        text-align: center;
    }

    .project__contact-container_info-phone p:first-of-type {
        font-size: 1.2rem;
        text-align: center;
    }

    .project__contact-container_info-phone p:last-of-type {
        margin-top: 0.5rem;
    }

    .project__contact-content_icons {
        transform: scale(0.8);
    }
}